page-update-details {
  .label {
    font-size: medium;
  }

  .col {
    padding: 0px;
  }

  .text-input-md {
    margin: 8px 0px 0px 0px;
  }

  .input {
    font-size: medium;
    border-bottom: 2px solid lightgray ;
  }
}
