page-support-details {
  .row-md {
    padding: 0px;
  }

  .col {
    padding: 0px;
  }

  .label {
    font-size: medium;
  }

  .label-md {
    margin: 13px 8px 13px 0;
  }

  .input {
    font-size: medium;
    border-bottom: 2px groove grey;
  }
}
